@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap'); // font-family: 'Source Sans Pro', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap'); // font-family: 'Playfair Display', serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    @apply font-normal;
}

input:focus{
  @apply border-transparent ring-0 outline-none;
}


// ----------- Container -------------- //
.wrapper{
  @apply max-w-7xl mx-auto px-4 xl:px-0;
}

// ---------- sizing ---------- //
.heading{
  @apply text-5xl font-bold m-0 leading-none;
  font-family: 'Playfair Display', serif;
}

.sectionHeading{
  @apply text-4xl font-bold m-0 leading-none;
  font-family: 'Playfair Display', serif;
}
.subheading{
  @apply text-3xl font-bold m-0 leading-none;
  font-family: 'Playfair Display', serif;
}

// ----------- Buttons ----------- //
.btn{
  @apply py-2 px-3 text-white;
}
.btn-primary{
  @extend .btn;
  @apply bg-primary text-lg rounded px-4;
}
.btn-secondary{
  @extend .btn;
  @apply bg-secondary px-5 font-medium tracking-wider rounded-full;
}
.btn-tertiary{
  @extend .btn;
  @apply bg-tertiary hover:text-white px-10 rounded-full;
}

.rounded-lg-img img{
    border-radius: 0.5rem;
}
.rounded-full-img img{
    border-radius: 9999px;
}
.rounded-l-lg-img img{
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem,; 
}
