
// -------------- Navbar style -------------- //
.nav_items_grp{
  @apply flex items-center gap-5 uppercase font-semibold;
}

// -------------- Home style -------------- //
.home_hero{
  background: linear-gradient(rgba(18, 36, 47, 0.14), rgba(18, 36, 47, 0.14)), url("/static/images/hero_bg.png") no-repeat center center / cover;
  clip-path: ellipse(162% 100% at 50% 0%);
}

// -------------- Glimpses Section style -------------- //
.glimpses_section{
    background: url("/static/images/glimpses_section_bg.png") no-repeat center center / cover;
}


// -------------- Glimpses Section style -------------- //
.team_section{
    min-height: 30.875rem;
    background: linear-gradient(rgba(80, 114, 157, 0.84), rgba(80, 114, 157, 0.84)), url("/static/images/team_bg.png") no-repeat center center / cover;
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}