

// -------------- Navbar style -------------- //
.nav_items_grp{
  @apply flex items-center gap-5 uppercase font-semibold;
}

// -------------- Home style -------------- //
.home_hero{
  background: linear-gradient(rgba(18, 36, 47, 0.14), rgba(18, 36, 47, 0.14)), url("/static/images/hero_bg.png") no-repeat center center / cover;
  clip-path: ellipse(162% 100% at 50% 0%);
}

// -------------- Glimpses Section style -------------- //
.glimpses_section{
    background: url("/static/images/glimpses_section_bg.png") no-repeat center center / cover;
}


// -------------- Glimpses Section style -------------- //
.team_section{
  min-height: 30.875rem;
  background: linear-gradient(rgba(80, 114, 157, 0.84), rgba(80, 114, 157, 0.84)), url("/static/images/team_bg.png") no-repeat center center / cover;
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}

.input_select{
  @apply flex items-center;
  .ant-select-selector{
    height: 3rem !important;
    display: flex;
    align-items: center;
  }
}

// -------------- Footer Section style -------------- //
.newsletter{
  box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.25);
  .newsletter_bottom_shadow{
    background: #333333;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
  }
  
}





.ant-radio-inner{
  @apply border border-primary;
}
.ant-radio-inner:after{
  @apply bg-primary;
}
.ant-checkbox-checked .ant-checkbox-inner {
  @apply border border-primary bg-primary;
}